<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mf.movielibrary">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.homescreen.HomeActivity" />
        <activity android:name=".activities.movieseriesscreen.MovieSeriesActivity" />
        <activity android:name=".activities.splashscreen.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.actorsscreen.ActorsActivity" />
        <activity android:name=".activities.imgescreen.ImageActivity" />
        <activity android:name=".activities.seasonscreen.SeasonActivity" />
        <activity android:name=".activities.searchscreen.SearchActivity" />
        <activity android:name=".activities.episodescreen.EpisodeActivity" />
        <activity
            android:name=".activities.trailerscreen.TrailerActivity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />
        <activity android:name=".activities.favouritescreen.FavoritesActivity"></activity>
    </application>

</manifest>